################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EventHandle/.vs/EventHandle
/SignalR.StockTicker/.vs
